h2{font-size: 20px, color: black;}
body{
    position: relative;
}
div.first{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 3.2rem;
    font-size: 16px;
    font-family: "Kokoro", cursive;
}
